flask==1.1.2
flask-sqlalchemy==2.4.4
flask-login==0.5.0
flask-wtf==0.14.3
flask-migrate==2.5.3
flask-script==2.0.6
flask-bootstrap==3.3.7.1
flask-moment==0.9.0
gunicorn==20.0.4
geopy==2.1.0
sqlite3==0.0.1
email-validator==1.1.3
python-dotenv==0.15.0
python-dateutil==2.8.1
wtforms==2.3.3
wtforms-components==0.10.5
wtforms-alchemy==0.16.9
passlib==1.7.4
bcrypt==3.2.0
tailwindcss==2.2.16
